@import "bootstrap";

.layout {
    padding-top: 25px;
}

.items {
    .item {
        &__header {
            cursor: pointer;

            .glyphicon {
                float: right;

                &.glyphicon-chevron-up,
                &.glyphicon-chevron-down {
                    display: none;
                }
            }

            &.selected {
                .glyphicon-chevron-down {
                    display: block;
                }
            }

            &.reverse {
                .glyphicon-chevron-up {
                    display: block;
                }

                .glyphicon-chevron-down {
                    display: none;
                }
            }
        }
    }
}
