{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <script type="text/ng-template" id="app.html">
        <table class="table table-bordered table-responsive" data-ng-if="items">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>

            <tr data-ng-repeat="item in items | orderBy: 'priority'">
                <td>[[ item ]]</td>
                <td>[[ tag.name ]]</td>
            </tr>
        </table>
    </script>
{% endblock %}
