{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <script type="text/ng-template" id="app.html">
        <table class="table table-bordered table-responsive" data-ng-if="items">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>

            <tr data-ng-repeat="item in items | orderBy: 'priority'">
                <td>[[ item ]]</td>
                <td>[[ tag.name ]]</td>
                <td>[[ tag.slug ]]</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default glyphicon glyphicon-edit" ui-sref="tags.update({ id: tag.id })"></a>
                        <a class="btn btn-danger glyphicon glyphicon-remove" ui-sref="tags.update({ id: tag.id })"></a>
                    </div>
                </td>
            </tr>
        </table>
    </script>
{% endblock %}
