{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <script type="text/ng-template" id="products.html">
        {% if app.user %}
            <form class="form-group search">
                <div class="row">
                    <div class="col-md-5">
                        <label>Name:</label>
                        <input type="text" data-ng-model="conditions.name" class="form-control" data-uib-typeahead="state.name as state.name for state in typeahead($viewValue)" data-typeahead-min-length="1" data-typeahead-no-results="noResults">
                    </div>
                    <div class="col-md-2">
                        <label>Price from:</label>
                        <input type="text" data-ng-model="conditions.priceMin" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label>Price to:</label>
                        <input type="text" data-ng-model="conditions.priceMax" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label>Volume:</label>
                        <input type="text" data-ng-model="conditions.volume" class="form-control">
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group">
                            <button class="btn btn-primary search__btn" data-ng-click="search()">Find</button>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}


        <table class="products table table-bordered table-responsive" data-ng-if="products">
            <tr>
                <th class="table__header" data-ng-class="{selected: orderBy === 'id', reverse: reverse && orderBy === 'id'}" data-ng-click="sortBy('id')">
                    <span>ID</span>
                    <i class="glyphicon glyphicon-chevron-up"></i>
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </th>

                <th class="table__header" data-ng-class="{selected: orderBy === 'name', reverse: reverse && orderBy === 'name'}" data-ng-click="sortBy('name')">
                    <span>Name</span>
                    <i class="glyphicon glyphicon-chevron-up"></i>
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </th>

                <th class="table__header" data-ng-class="{selected: orderBy === 'price', reverse: reverse && orderBy === 'price'}" data-ng-click="sortBy('price')">
                    <span>Price</span>
                    <i class="glyphicon glyphicon-chevron-up"></i>
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </th>

                <th class="table__header" data-ng-class="{selected: orderBy === 'priority', reverse: reverse && orderBy === 'priority'}" data-ng-click="sortBy('priority')">
                    <span>Volume</span>
                    <i class="glyphicon glyphicon-chevron-up"></i>
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </th>
            </tr>

            <tr data-ng-repeat="product in products | orderBy:orderBy:reverse">
                <td class="col-sm-1">[[ product.id ]]</td>
                <td class="col-sm-8">[[ product.name ]]</td>
                <td class="col-sm-2" data-price data-value="product.price"></td>
                <td class="col-sm-1">[[ product.priority ]]</td>
            </tr>
        </table>
    </script>
{% endblock %}
